{{!-- <form class="form-signin" method="POST" action="/productos"> --}}
{{!-- <form class="form-signin" onsubmit="return send_new_product(this)"> --}}
<form class="form-signin">
    <img
        class="mb-4"
        src="https://cdn.iconscout.com/icon/free/png-256/handlebars-3-1175025.png"
        alt=""
        width="72"
        height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Nuevo Producto - HBS</h1>
    <label for="title" class="sr-only">Titulo</label>
    <input
        type="text"
        id="title"
        class="form-control"
        placeholder="Nombre"
        required
        autofocus
        name="title"
    />

    <label for="price" class="sr-only">Precio</label>
    <input
        type="number"
        id="price"
        class="form-control"
        placeholder="Precio"
        required
        autofocus
        name="price"
    />

    <label for="thumbnail" class="sr-only">Thumbnail</label>
    <input
        type="text"
        id="thumbnail"
        class="form-control"
        placeholder="thumbnail"
        required 
        name="thumbnail" />

    {{!-- <button class="btn btn-lg btn-primary btn-block" type="submit"> --}}
    <button class="btn btn-lg btn-primary btn-block" onclick="return send_new_product(this)">
        Cargar Producto
    </button>
</form>