<main role="main" class="container">
    <h1 class="mt-5">Automoviles - HBS</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
        </thead>
        <tbody id="products_html">
        {{!-- {{#each products}}
            <tr>
                <th scope="col">{{this.title}}</th>
                <th scope="col">{{this.price}}</th>
                <th scope="col"><img src={{this.thumbnail}} alt={{this.title}} height="100px"/></th>
            </tr>
        {{/each}} --}}
        </tbody>
    </table>
</main>