<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

        <title>Vehiculos</title>

        <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
        />

        <!-- Bootstrap core CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />

        <!-- Custom styles for this template -->
        <link
        href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css"
        rel="stylesheet"
        />
        
    </head>
    <body class="d-flex flex-column my-5">
        {{>header}}
        <div class="container">
            {{{body}}}
        </div>
        <div id="messages" class="container">
            <h3 class="text-center my-3">CHAT</h3>
        <div class="row clearfix">
            <div class="col-lg-12">
            <div class="card chat-app">
                <div class="chat">
                <div class="chat-history">
                    <ul class="m-b-0" id="mensajes">
                    <li class="clearfix">
                        <div class="message-data">
                            <span class="fw-bold">[NOMBRE]</span>
                            <span class="fst-italic">[TEXT]</span>
                        </div>
                    </li>
                    </ul>
                </div>
                <form onsubmit="return enviarMensaje(this)">
                    <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-append">
                        <input
                            id="email"
                            type="text"
                            class="form-control"
                            placeholder="Email"
                        />
                        <input
                            id="name"
                            type="text"
                            class="form-control"
                            placeholder="Nombre"
                        />
                        <input
                            id="lastname"
                            type="text"
                            class="form-control"
                            placeholder="Apellido"
                        />
                        <input
                            id="age"
                            type="text"
                            class="form-control"
                            placeholder="Edad"
                        />
                        <input
                            id="alias"
                            type="text"
                            class="form-control"
                            placeholder="Alias"
                        />
                        <input
                            id="avatar"
                            type="text"
                            class="form-control"
                            placeholder="avatar"
                        />
                        <input
                        id="enviar_msj"
                        type="submit"
                        class="form-control"
                        placeholder="Enviar mensaje"
                        />
                        </div>
                        <input
                            id="chat_mensaje"
                            type="text"
                            class="form-control"
                            placeholder="Mensaje..."
                        />
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script type="application/javascript" src="/socket.io/socket.io.js" defer></script>
        <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
        <script>
            const socket = io.connect();
            async function render_msj(data) {
                const authorSchema = new normalizr.schema.Entity('authors',{}, {idAttribute: 'email'});
                const textSchema = new normalizr.schema.Entity('texts',{},{idAttribute: 'ind'});
                const articlesSchema = new normalizr.schema.Entity('chats', {
                    author: authorSchema,
                    text: textSchema
                });
                const postSchema = new normalizr.schema.Entity('posts',{
                    posts: [articlesSchema]
                })
                const desnormalize = await normalizr.denormalize(data.result, postSchema, data.entities)
                console.log("🚀 Datos Normalizados: ", JSON.stringify(data).length)
                console.log("🚀 Datos Desnormalizados", JSON.stringify(desnormalize).length)
                console.log(`Se comprime: ${(1-(JSON.stringify(desnormalize).length/JSON.stringify(data).length))*100} % `)
                
                const html = desnormalize.posts.map( ({author,text}) => `<li class="clearfix">
                                                <div class="message-data">
                                                    <img class="fw-bold text-primary" width="60"  src="${author.avatar}" alt="avatar"/>
                                                    <span class="text-success">[${author.name}]</span>
                                                    <span class="fst-italic">${text.text}</span>
                                                </div>
                                                </li>`).join(" ");
                document.getElementById("mensajes").innerHTML = html; 
            }

            function enviarMensaje(event) {
                const email = document.getElementById("email").value;
                const name = document.getElementById("name").value;
                const lastname = document.getElementById("lastname").value;
                const age = document.getElementById("age").value;
                const alias = document.getElementById("alias").value;
                const avatar = document.getElementById("avatar").value;
                const text = document.getElementById("chat_mensaje").value;
                document.getElementById("chat_mensaje").value = "";
                const data = {email,name,lastname,age,alias,avatar,text}
                socket.emit("new_msg", data);
                return false;
            }
            socket.on("mensajes", (data) => {
                render_msj(data);
            });



        </script>

    </body>
    
</html>