<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

        <title>Vehiculos</title>

        <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
        />

        <!-- Bootstrap core CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />

        <!-- Custom styles for this template -->
        <link
        href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css"
        rel="stylesheet"
        />
        
    </head>

        {{>header}}
    <body class="d-flex flex-column my-5">
        <div class="container">
            {{{body}}}
        </div>
        <div id="messages" class="container">
            <h3 class="text-center my-3">CHAT</h3>
        <div class="row clearfix">
            <div class="col-lg-12">
            <div class="card chat-app">
                <div class="chat">

                <div class="chat-history">
                    <ul class="m-b-0" id="mensajes">
                    <li class="clearfix">
                        <div class="message-data">
                            <span class="fw-bold">[NOMBRE]</span>
                            <span class="fst-italic">[TEXT]</span>
                        </div>
                    </li>
                    </ul>
                </div>
                <form onsubmit="return enviarMensaje(this)">
                    <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-append">
                        <input
                            id="email"
                            type="text"
                            class="form-control"
                            placeholder="Email"
                        />
                        <input
                            id="name"
                            type="text"
                            class="form-control"
                            placeholder="Nombre"
                        />
                        <input
                            id="lastname"
                            type="text"
                            class="form-control"
                            placeholder="Apellido"
                        />
                        <input
                            id="age"
                            type="text"
                            class="form-control"
                            placeholder="Edad"
                        />
                        <input
                            id="alias"
                            type="text"
                            class="form-control"
                            placeholder="Alias"
                        />
                        <input
                            id="avatar"
                            type="text"
                            class="form-control"
                            placeholder="avatar"
                        />
                        <input
                        id="enviar_msj"
                        type="submit"
                        class="form-control"
                        placeholder="Enviar mensaje"
                        />
                        </div>
                        <input
                            id="chat_mensaje"
                            type="text"
                            class="form-control"
                            placeholder="Mensaje..."
                        />
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" ></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {{!-- <script src="/socket.io/socker.io.js" defer></script> --}}
        <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
        <script src="./index.js" defer></script>
        <script>
            const socket = io.connect();
            const container_products = document.getElementById("products_html")
            const render_products = data => {
                const products_html = data.map(prod => 
                    `<tr>
                        <th scope="col">${prod.title}</th>
                        <th scope="col">${prod.price}</th>
                        <th scope="col"><img src=${prod.thumbnail} alt=${prod.title} height="100px"/></th>
                    </tr>`).join(" ");
                if (container_products){
                    container_products.innerHTML = products_html;
                }
            }

            socket.on('products', ({data, wasError}) => {
                if (!wasError){
                    render_products(data);
                }
            })

            const send_new_product = (event) => {
                const title = document.getElementById('title').value;
                const price = document.getElementById('price').value;
                const thumbnail = document.getElementById('thumbnail').value;
                console.log('enviando products_html')
                socket.emit('new_product', 
                    { 
                        title, 
                        price, 
                        thumbnail
                    })
            }


            function render_msj(data) {
                console.log('render',JSON.stringify(data)); 
                {{!-- const html = data.map( (msg) => `<li class="clearfix">
                                                <div class="message-data">
                                                    <span class="fw-bold text-primary">${msg.email}</span>
                                                    <span class="text-success">[${msg.created_at}]</span>
                                                    <span class="fst-italic">${msg.msg}</span>
                                                </div>
                                                </li>`).join(" ");
                document.getElementById("mensajes").innerHTML = html; --}}
            }

            function enviarMensaje(event) {
                const id = document.getElementById("email").value;
                const name = document.getElementById("name").value;
                const lastname = document.getElementById("lastname").value;
                const age = document.getElementById("age").value;
                const alias = document.getElementById("alias").value;
                const avatar = document.getElementById("avatar").value;
                const text = document.getElementById("chat_mensaje").value;
                document.getElementById("chat_mensaje").value = "";
                const data = {id,name,lastname,age,alias,avatar,text}
                socket.emit("new_msg", data);
                return false;
            }

            socket.on("mensajes", (data) => {
            render_msj(data);
            });
        </script>
    </body>
    
</html>